body{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#title {
    display: flex;
    flex: 1 1 auto;
    width: 100%;
    justify-content: center;
    margin-bottom: 100px;

}

#options {
    display: flex;
    flex-shrink: 2;
    margin: 1% auto;
    justify-content: center;
    gap: 25px;
}

#container {
    display: flex;
    flex-shrink: 2;
    flex-direction: column;
    flex-wrap: wrap;
    margin: auto;
    width: 400px;
    height: 400px;
    background-color: white;
    filter: drop-shadow(8px 8px 9px black);
}

.smallGrid {
    display: flex;
    /*border: 2px solid red;*/
    width: 25px;
    height: 25px;
}

.mediumGrid {
    display: flex;
    width: 12.5px;
    height: 12.5px
}

.largeGrid {
    display: flex;
    width: 6.25px;
    height: 6.25px
}

ul#size {
    list-style-type: none;
}

ul#color {
    list-style-type: none;
}